*.iml
SystemApplication/.gradle
SystemApplication/local.properties
SystemApplication/.idea
SystemApplication/.DS_Store
SystemApplication/build
SystemApplication/app/build
SystemApplication/captures
SystemApplication/.externalNativeBuild
DutchFlashCards/.gradle
DutchFlashCards/local.properties
DutchFlashCards/.idea
DutchFlashCards/.DS_Store
DutchFlashCards/build
DutchFlashCards/app/build
DutchFlashCards/captures
DutchFlashCards/.externalNativeBuild
DutchConjugationTrainer/.gradle
DutchConjugationTrainer/local.properties
DutchConjugationTrainer/.idea
DutchConjugationTrainer/.DS_Store
DutchConjugationTrainer/build
DutchConjugationTrainer/app/build
DutchConjugationTrainer/captures
DutchConjugationTrainer/.externalNativeBuild