*.iml
SystemApplication/.gradle
SystemApplication/local.properties
SystemApplication/.idea/workspace.xml
SystemApplication/.idea/libraries
SystemApplication/.DS_Store
SystemApplication/build
SystemApplication/captures
SystemApplication/.externalNativeBuild
DutchFlashCards/.gradle
DutchFlashCards/local.properties
DutchFlashCards/.idea/workspace.xml
DutchFlashCards/.idea/libraries
DutchFlashCards/.DS_Store
DutchFlashCards/build
DutchFlashCards/captures
DutchFlashCards/.externalNativeBuild
DutchConjugationTrainer/.gradle
DutchConjugationTrainer/local.properties
DutchConjugationTrainer/.idea/workspace.xml
DutchConjugationTrainer/.idea/libraries
DutchConjugationTrainer/.DS_Store
DutchConjugationTrainer/build
DutchConjugationTrainer/captures
DutchConjugationTrainer/.externalNativeBuild